body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  font-family: arial, sans-serif;
  background-image: url(https://ak2.picdn.net/shutterstock/videos/1007089402/thumb/2.jpg);
  background-size: 3000px;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
.container {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: #8b65ad;
}

.list col-10 {
  margin: 0;
  padding-left: 20px;
  text-decoration-color: aliceblue;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: #8b65ad;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.float-left {
  color: rgb(33, 33, 33);
  font-size: 35px;
  line-height: 2;
  padding-left: 5px;
  font-weight: 400;
}

.units {
  position: relative;
  font-size: 20px;
  top: -12px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  background-color: #8057a3;
}

.btn {
  background-color: blueviolet;
}

.form-control {
  background-color: rgb(196, 196, 223);
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.small {
  color: #a68fb9;
}
